html, body {
    height: 100%;
    position: relative;
}

nav{
    color: #E9ECEF;
}

img{
    height: 500px;
    object-fit: cover;
}

p{
    margin-left: 5px;
}
form{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 16px;
    text-align: center;
}

footer{
    width: 100%;
    height:60px;
    background-color: #374238;
}
